body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  min-height: 100vh;
}


.custom-card {
  background: white;
  border-radius: 12px;
  border: 1px solid #e9ecef;
  transition: all 0.3s ease;
  padding: 1.5rem;
  height: 100%;
  position: relative
}

.custom-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  border-color: #dee2e6;
  transform: translateY(-3px);
}


.btn-yelp {
  background-color: #d32323;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.btn-yelp:hover {
  background-color: #b31d1d;
  color: white;
}
